<!DOCTYPE>
<!DOCTYPE html>
<html>
<head>
	<title>My Alpha Blog</title>
</head>
<body>
<img src="https://2.bp.blogspot.com/-DoeR_SHpjSk/Vo9HKuimy2I/AAAAAAAAAFE/ROsHesQeeXU/s1600-r/eblogger.png" alt="yes!">

</body>
</html>

<%= link_to"About" , about_path %>